/* Media Query for Large screens */

@media (min-width: 1280px) {
  #level-title {
    font-size: 3.5rem;
  }

  .score {
    font-size: 1.7rem;
  }

  .myS {
    top: 30%;
  }

  .rule_container {
    width: 700px;
  }

  .rule_box {
    font-size: 1.5rem;
  }

  .game_btn {
    width: 170px;
    height: auto;
    font-size: 1.5rem;
    line-height: 1.4;
  }

  .rule_btn {
    top: 30%;
  }

  .start_btn {
    top: 65%;
    height: 60px;
  }

  .important {
    font-size: 1.6rem;
  }

  .btn {
    height: 220px;
    width: 220px;
  }

}

/* Media Query for Laptops and Desktops */

@media (max-width: 1280px) {
  #level-title {
    font-size: 2.5rem;
    line-height: 1.5;
  }

  .score {
    font-size: 1.2rem;
  }

  .myS {
    right: 13%;
    top: 35%;
  }

  .game_btn {
    font-size: 1.2rem;
    height: auto;
    line-height: 1.4;
  }

  .rule_btn {
    left: 5%;
    top: 35%;
  }

  .start_btn {
    left: 30%;
    top: 35%;
    height: 60px;
  }

  .rule_container {
    left: 18%;
  }

  .rule_box {
    font-size: 1.2rem;
  }

  .important {
    font-size: 1.3rem;
  }

  .container {
    width: 70%;
    margin-top: 200px;
  }

  .btn {
    margin: 12px;
    height: 200px;
    width: 200px;
  }
}

/* Media Query for low resolution  Tablets, Ipads */

@media (max-width: 767px) {

  #level-title {
    font-size: 2rem;
  }

  .score {
    font-size: 1rem;
  }

  .myS {
    top: 30%;
  }

  .rule_container {
    width: 360px;
    left: 15%;
  }

  .game_btn {
    font-size: 1rem;
  }
  
  .rule_btn {
    top: 30%;
  }

  .start_btn {
    top: 40%;
    height: 50px;
  }

  .rule_box {
    font-size: 0.9rem;
  }

  .important {
    font-size: 1rem;
  }

  .container {
    width: 85%;
    margin-top: 200px;
  }

  .btn {
    height: 150px;
    width: 150px;
    border-width: 7px;
  }
}

/* Media Query for Mobile Devices */

@media only screen and (max-width: 480px) {
  #level-title {
    font-size: 1.5rem;
  }

  .score {
    font-size: 0.7rem;
  }

  .myS {
    top: 35%;
    right: 37%;
  }

  .rule_container {
    width: 200px;
  }

  .game_btn {
    font-size: 0.7rem;
    height: 40px;
  }
  
  .rule_btn {
    left: 27%;
    top: 25%;
  }

  .start_btn {
    left: 27%;
    top: 40%;
  }

  .rule_box {
    font-size: 0.7rem;
  }

  .important {
    font-size: 0.8rem;
  }

  .container {
    width: 90%;
    /* margin-top: 200px; */
  }

  .btn {
    height: 70px;
    width: 70px;
    border-width: 3px;
    margin: 5px;
  }

}

@media only screen and (max-width: 350px) {
  #level-title {
    font-size: 1.2rem;
  }

  .myS {
    right: 20%;
  }
  
  .rule_btn {
    left: 20%;
  }

  .start_btn {
    left: 20%;
  }
}
