*{
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}

body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 2rem;
  margin: 5%;
  color: #FEF2BF;
  line-height: 1.5;
}

.score {
  font-family: 'Press Start 2P', cursive;
  font-size: 1.5rem;
  margin: 2.5%;
  color: #FEF2BF;
  position: absolute;
}

.myS {
  right: 7%;
  top: 35%;
}


.rule_container {
  width: 600px;
  position: absolute;
  top: 35%;
  left: 20%;
  border: 2px solid black;
  border-radius: 10px;
  background-color: #FFDB89;
}

.vihide {
  visibility: hidden;
}

.rule_box {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.2rem;
  line-height: 1.8;
  letter-spacing: 0.5px;
  font-weight: 600;
  color: #460C68;
  padding: 10px;
  position: relative;
}

.close {
  text-align: right;
  display: block;
  position: relative;
  right: 20px;
  cursor: pointer;
  opacity: 0.7;
}

.important {
  font-size: 1.3rem;
  color: #ff0000;
}

.game_btn {
  font-family: 'Press Start 2P', cursive;
  width: 140px;
  height: 60px;
  background-color: #ff0000;
  color: #FEF2BF;
  border-radius: 10px;
  font-size: 1.4rem;
  position: absolute;
  margin: 2.5%;
  line-height: 1.4;
  cursor: pointer;
}

.rule_btn{
  top: 25%;
  left: 5%;
}

.start_btn{
  top: 65%;
  left: 5%;
  height: 70px;
}

.container {
  display: block;
  width: 50%;
  margin: 5% auto 0px;
}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

.bottom-container{
  padding-top: 50px;
  height: 110px;
}

.copyright{
  color: #EAF6F6;
  font-size: 1rem;
  padding-top: 20px 0px;
}

.footer-link{
  color: #91D8E4;
}
